@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');




* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "graduate", serif;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 22px;
    color: red;
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    background-color: transparent;
    padding: 15px;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    margin-left: 40px;
    color: red;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
}


.get-started-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

.get-started-btn a {
    background-color: red;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.get-started-btn a:hover {
    background-color: darkred;
    transform: scale(1.05);
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}


footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: red;
}

.copyright {
    font-size: 0.8em;
    color: white;
}